<html>
    <head>
        <title>Diario de Noa</title>

    </head>
    <body>
        <h1>Diario de Noa PJ</h1>
        <div>
            <h2>Mamá de Noa - Karina</h2>
            <p>En Primer lugar vamos a conocer un poco a la mami de Noa</p>
            <p><a href="https://web.facebook.com/karina.justi.patty.no">Mamá de Noa</a></p>
        </div>
        
        <div>
                <h2>Papá de Noa - Paolo</h2>
                <p>En Primer lugar vamos a conocer un poco a la papá de Noa</p>
                <p><a href="https://web.facebook.com/paolo.perezttito">Papá de Noa</a></p>
            </div>

        <div>
            <h2>Nacimiento de Noa</h2>
            <p>Publicado: 11.06.2018, 14:45</p>
            <p><a href="https://web.facebook.com/paolo.perezttito">Primer Post</a></p>
        </div>
    </body>
</html>
